$game-bg: #111;

%noselect {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

* {
  @extend %noselect;
}

html,
body {
  align-items: center;
  background-color: $game-bg;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
}

canvas {
  margin: 0 auto;
}

#game {
  height: 100%;
  width: 100%;
}
